{% include head.html %}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <form id="searchForm" class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input id="searchbox" type="text" class="form-control" />
                        <button type="submit" class="btn btn-default">
                            Search
                        </button>
                        <p>
                            <label>
                                <input id="chapterCheckbox" type="checkbox">Selected chapter
                            </label>
                        </p>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% assign chunks = page.url | split:'/' %}
                    {% assign currentPage = chunks[2] %}
                    {% for chapter in site.data.toc %} 
                    <a href="/chapters/{{chapter[0]}}" class="list-group-item {% if chapter[0] == chunks[2] %} active {% endif %}">{{ chapter[1].chapter | upcase }}
                    </a> {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!--<div class="col-md-1">
            </div>-->
    <div class="col-md-8">
        {% assign indexOfCurrentChapter = nil %}
        {% for ch in site.chapters %}
          {% assign chNum = ch | plus: 0 %}
          {% assign currPage = currentPage | plus: 0 %}
          {% if chNum == currPage %}
            {% assign indexOfCurrentChapter = forloop.index0 %}
          {% endif %}
        {% endfor %}
        {% assign indexOfPrevChapter = indexOfCurrentChapter | minus: 1 %}
        {% assign indexOfNextChapter = indexOfCurrentChapter | plus: 1 %}
        {% assign prevChapter = site.chapters[indexOfPrevChapter] %}
        {% assign nextChapter = site.chapters[indexOfNextChapter] %}
        <h2>Chapter {{ page.chapter }} <small>(<a href="{{site.baseurl}}/chapters/{{prevChapter}}">Previous Chapter</a> | <a href="{{site.baseurl}}/chapters/{{nextChapter}}">Next Chapter</a>)</small></h2>
        <ul>
            {% for section in page.sections %}
            <li><a href="{{site.baseurl}}/chapters/{{chunks[2]}}#{{section.section}}">{{section.section_title}}</a></li>
            {% endfor %}
        </ul>
        {% for section in page.sections %}
            <div id="{{section.section}}">
              <h3>{{section.section_title}}</h3>
              {{section.html}}
            </div>
            <a href="#">Back to top</a> |
            <button data-section={{section.section}} class="print_section">Print this section</button>
        {% endfor %}
    </div>
</div>
</div>
</div>
</div>
{% include footer.html %}
