{% include head.html %}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                
                <form id="searchForm" class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input id="searchbox" type="text" class="form-control" />
                        <button type="submit" class="btn btn-default">
                            Search
                        </button>
  <!--                       <p>
                            <label>
                                <input id="chapterCheckbox" type="checkbox">Selected chapter
                            </label>
                        </p> -->
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for chapter in site.data.toc %}
                    <a href="/chapters/{{chapter[0]}}" class="list-group-item">{{ chapter[1].chapter | upcase  }}
                    </a> {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!--<div class="col-md-1">
                    </div>-->
    <div class="col-md-8">
        {{content}}
    </div>
</div>
</div>
</div>
</div>
{% include footer.html %}
